.bookmarkintro{
    display: flex;
    padding: 35px 50px;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.bookmarkintro__left{
    display: flex;
    flex-direction: column;
}
.bookmarkintro__left>h1{
    font-size: 3.6rem;
    margin: 19px 0px;
}
.bookmarkintro__left>p{
    font-size: 1.2rem;
    color: hsl(229, 8%, 60%);
}
.bookmarkintro__buttons{
    display: flex;
    flex: 0.5;
    padding: 10px 0px 0px;
}
.chrome{
    color: white;
    background-color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    padding: 12px 24px;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    margin-right: 15px;
    border-radius: 4px;
    letter-spacing: 0.4px;
}
.chrome:hover{
    color: hsl(231, 69%, 60%);
    background-color: white;
}
.firefox{
    color:hsl(229, 31%, 21%);
    background-color: white;
    border: 2px solid white;
    box-shadow: 2px 2px 5px hsl(229, 8%, 60%);
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 0.4px;
    transition: all 0.1s ease-in-out;
}
.firefox:hover{
   border-color:hsl(229, 8%, 60%) ;
}
.bookmarkintro>img{
    z-index: 2;
}
.bookmarkintro::after{
    content: '';
    z-index: 1;
    position: absolute;
    height: 38%;
    top: 41%;
    right: 0;
    width: 590px;
    border-radius: 0% 0px 0px 30%;
    background-color: hsl(231, 69%, 60%);
}