.features{
    display: flex;
    flex-direction: column;
    padding: 80px 100px 80px 100px;
}
.features>p{
    max-width: 39%;
    color: hsl(229, 8%, 60%);
    align-self: center;
}
.features__single{
    display: flex;
    width: 55%;
    padding-top: 25px;
    align-self: center;
    color: hsl(229, 8%, 60%);
}
.features__single>button.active {
    color:hsl(229, 31%, 21%);
    padding-bottom: 10px;
    border-bottom: 3px solid hsl(0, 94%, 66%);
}
.features__single>button{
    font-weight: 500;
    background-color: white;
    color: hsl(229, 8%, 60%);
    outline-style: none;
    border: none;
    flex: 1 1;
    font-size: 15px;
    padding: 0px 24px 12px;
    border-bottom: 1px solid hsl(229, 8%, 60%);
}

.singlefeature{
    display: flex;
    padding:30px;
    justify-content: space-evenly;
    transition: all 5s ease-in-out;
}
.singlefeature::before{
    content: '';
    z-index: 1;
    position: absolute;
    height: 38%;
    top: 148%;
    left: 0;
    width: 500px;
    border-radius: 0% 0px 30%;
    background-color: hsl(231, 69%, 60%);
}
.singlefeature>img{
    z-index: 2;
    flex: 0.3;
}
.singlefeature__right{
    align-self: center;
    flex: 0.5;
    max-width: 430px;
    text-align: start;
}
.singlefeature__right>p{
    color:hsl(229, 8%, 60%);
}
.singlefeature__right> button{
    color: white;
    background-color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    padding: 12px 24px;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    margin-right: 15px;
    border-radius: 4px;
    letter-spacing: 0.4px;
}
@media only screen and (max-width:376px){
    .features{
        padding: 20px;
    }
    .features>p{
        max-width: 100%;
    }
    .features__single{
        flex-direction: column;
        width: 100%;
    }
    .features__single>button{
        padding-top: 12px;
    }
    .singlefeature__right{
        text-align: center;
    }
    .singlefeature__right>h1{
        font-size: 1.5rem;
    }
    .singlefeature__right>p{
        font-size: 0.9rem;
    }
    .singlefeature__right>button{
        padding: 7px 27px;
    }
    .singlefeature{
        flex-direction: column;
        padding:25px  10px;
    }
    .singlefeature>img{
        width:100%;
        padding-bottom:40px;
    }
    .singlefeature::before{
        height: 25%;
        top:72%;
        width:300px;
    }
}